/*.main-container {
  width: 600px;
  border: 1px solid red;
  height: 100%;
  margin: 0 auto;
}

input {
  border: 1px solid red;
  width: 75%;
  padding: 10px;
  font-size: 16px;
  position: relative;
  top: 60px;
  left: 60px;

}

.list {
  margin: 0 auto;
  width: 500px;
  border: 1px solid red;
}
.list ul {
  margin: 0;
  padding: 0;
}
.list li {
  list-style-type: none;
}

.info {
  height: 100px;
  width: 600px;
  margin-bottom: 100px;
  border-bottom: 1px solid red;
}

.to-do {
  background-color: #000080;
  width: 500px;
  height: 200px;
  margin-bottom: 100px;
}

.done {
  background-color: #008000;
  width: 500px;
  height: 200px;
  margin-bottom: 100px;
}

.late {
  background-color: #ff0000;
  width: 500px;
  height: 200px;
  margin-bottom: 100px;
} */
